
.wrapper{
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.main-board {
  background: black;
  display: flex;
  flex-wrap: wrap;
}
.box {
  min-height: 7.925vh;
  min-width: 12.5%;
}
.tan {
  background: tan;
  font-size: 200%;
  text-align: center;
}
.brown {
  background: brown;
  font-size: 200%;
  text-align: center;
}
