
.wrapper{
  width: 400px;
  margin: 0 auto;
}

.main-board {
  display: flex;
  background: black;
  flex-wrap: wrap;
}
.box {
  height: 12.5%;
  width: 12.5%;
}
.tan {
  background: tan;
  text-align: center;
  font-size: 200%;
}
.brown {
  background: brown;
  text-align: center;
  font-size: 200%;
}
.font1{
  color: brown;
}
.font2{
  color: tan;
}
