.painting {
  border: 5px solid black;
  display: flex;
  height: 50vh;
  margin-top: 50px;
  margin: 50px auto;
  width: 50%;
}
.box {
  border: 2px black solid;
}

.left, .right {
flex: 1;
}
.column1, .column4 {
flex: 3;
}
.column2, .column3 {
flex: 2;
}
.column3 {

}
.column4 {

}
.right {

}
.one {
border-right: none;
}
.two{

}
.three {

}
.four{

}
.five{
border-right: none;
}
.six {
border-left: none;
}
.seven{

}
.eight {
 background: red;
}
.nine{
background: grey;
}
.ten {

}
.eleven {

}
.twelve {

}
.thirteen{

}
.fourteen {

}
.fifteen {

}
.sixteen {
border-left: none;
}
.seventeen{

}
.eighteen {

}
.ninteen {

}
.twenty {

}
.twentyone {

}
.twentytwo {

}
.twentythree {

}
.twentyfour {

}
.twentyfive {

}
.twentysix {

}
.twentyseven {

}
.twentyeight {

}
.twentynine {

}
.thirty {

}
.thirtyone {

}
.thirtytwo {

}
.thirtythree {

}
.thirtyfour {

}
.thirtyfive {

}
.thirtysix {

}
.thirtyseven {

}
.thirtyeight {

}
.thirtynine {

}
.forty {

}
.fortyone {

}
.fortytwo {

}
.fortythree {
border-right: none;
}
.fortyfour {

}
.fortyfive {

}
.fortysix {

}
.fortyseven {

}
.fortyeight {
border-left: none;
}
