.painting {
  border: 5px solid black;
  display: flex;
  height: 50vh;
  margin-top: 50px;
  margin: 50px auto;
  width: 50%;
}
.box {
  border: 5px black solid;
}

.left, .right {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 100%;
}
.column1, .column4 {
  display: flex;
  flex-flow: column;
  flex: 3;
  height: 100%;
}
.column2, .column3 {
  display: flex;
  flex-flow: column;
  flex: 2;
  height: 100%;
}
.left > .box {
  border-left: none;
  border-right: none;
}
.column2 > .box {
  border-left: none;
}
.column3 > .box {
  border-right: none;
}
.rowone {
  display: flex;
  flex-flow: row;
  flex: 1.02;
}
.rowtwo {
  display: flex;
  flex-flow: row;
  flex: 2;
}
.nine-ten{
  display: flex;
  flex-flow: column;
  flex: 1;
}
.bottom-column1{
  display: flex;
  flex: 2.5;
}
.right-bottom-column1 {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.left-bottom-column1 {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.bottom {
  display: flex;
  flex: 2;
}
.bottom1{
  display: flex;
  flex: 1.7;
}
.bottom2 {
  display: flex;
  flex: 1;
}
.top-column4 {
  display: flex;
  flex: 1;
}
.bottom-column4{
  display: flex;
  flex: 1;
}
.one {
  border: none;
  flex: 1;
}
.two{
  border-bottom: none;
  flex: 2;
}
.three {
  border-bottom: none;
  flex:2.5;
}
.four{
  background: yellow;
  border-bottom: none;
  flex: 2.5;
}
.five{
  border-bottom: none;
  flex: 1;
}
.six {
  border: none;
  flex: 1;
}
.seven{
  border-bottom: none;
  border-top: none;
  flex: 3;
}
.eight {
 background: red;
 flex: 4;
}
.nine{
  background: black;
  border-bottom: none;
  border-top: none;
  flex: 1;
}
.ten {
  border-left: none;
  border-top: none;
  border-bottom: none;
  flex: 1;
}
.eleven {
  border-bottom: none;
  border-left: none;
  flex: 1
}
.twelve {
  border-bottom: none;
  border-right: none;
  flex: 2;
}
.thirteen{
  border-bottom: none;
  border-left: none;
  border-right: none;
  flex: 1.7;
}
.fourteen {
  background: black;
  border-bottom: none;
  flex: 1;
}
.fifteen {
  background: yellow;
  border-bottom: none;
  flex: 1;
}
.sixteen {
  border-bottom: none;
  border-left: none;
  flex: 1;
}
.seventeen{
  background: yellow;
  border: none;
  flex: 1;
}
.eighteen {
  background: yellow;
  border-bottom: none;
  border-left: none;
  border-right: none;
  flex: 2;
}
.nineteen {
  border-bottom: none;
  border-left: none;
  border-right: none;
  flex: 1;
}
.twenty {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.twentyone {
  border-bottom: none;
  border-right: none;
  flex: .9;
}
.twentytwo {
  background: blue;
  border-bottom: none;
  border-right: none;
  flex: 1.7;
}
.twentythree {
  background: red;
  border-bottom: none;
  border-right: none;
  flex: 1.35;
}
.twentyfour {
  background: blue;
  border-bottom: none;
  border-top: none;
  flex: 2;
}
.twentyfive {
  background: red;
  border-bottom: none;
  flex: 2;
}
.twentysix {
  border-bottom: none;
  flex: 1;
}
.twentyseven {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.twentyeight {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.twentynine {
  background: yellow;
  border-bottom: none;
  border-right: none;
  flex: 2;
}
.thirty {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.thirtyone {
  background: black;
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.thirtytwo {
  background: yellow;
  border-bottom: none;
  border-right: none;
  border-top: none;
  flex: 1;
}
.thirtythree {
  background: black;
  border-bottom: none;
  border-right: none;
  border-top: none;
  flex: 1;
}
.thirtyfour {
  border-bottom: none;
  border-right: none;
  border-top: none;
  flex: 2.5;
}
.thirtyfive {
  background: yellow;
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.thirtysix {
  background: black;
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.thirtyseven {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.thirtyeight {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.thirtynine {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.forty {
  background: black;
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.fortyone {
  background: blue;
  border-bottom: none;
  border-right: none;
  flex: 3.5;
}
.fortytwo {
  border-bottom: none;
  border-right: none;
  flex: 3;
}
.fortythree {
  border-bottom: none;
  border-right: none;
  flex: 1;
}
.fortyfour {
  border-bottom: none;
  border-right: none;
  border-top: none;
  flex: 1.1;
}
.fortyfive {
  background: yellow;
  border-bottom: none;
  border-right: none;
  flex: 3;
}
.fortysix {
  border-bottom: none;
  border-right: none;
  flex: 3;
}
.fortyseven {
  border-bottom: none;
  border-right: none;
  flex: 2.2;
}
.fortyeight {
  border-bottom: none;
  border-left: none;
  border-right: none;
  flex: 1;
}
span {
  display: none;
}
